<section class="page-title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-headd-title">
						<h2> About Us </h2>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
							<li class="breadcrumb-item active"> About </li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="feature-section bg-gray"> 
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="about-content text-center">
						<div class="feature-title">
							<h2> About Our Firm </h2>
						</div>
						<div class="about-para">
							<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
							<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="feature-section about-history"> 
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="about-his">
						<h2> Our Mission </h2>
						<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy . </p>
					</div>	
				</div>
				<div class="col-sm-4">
					<div class="about-his">
						<h2> Our History </h2>
						<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy . </p>
					</div>	
				</div>
				<div class="col-sm-4">
					<div class="about-his">
						<h2>  What We Do  </h2>
						<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy . </p>
					</div>	
				</div>
			</div>
		</div>
	</section>
	
	<!-- testimonial -->
	<section class="bg-gray padding-testimonial">
		<div class="container">
			<div class="row">
				<div class="feature-title text-center">
					<h2> Testimonial </h2>
				</div>
				<div class="col-sm-12">
					<div class="tcb-quote-carousel">
                    <div class="quote">
						<i class=" fa fa-quote-left fa-4x"></i>
					</div>
                    <div class="carousel slide carousel-fade" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="profile-circle"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" alt=""></div>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                </blockquote>
                            </div>
                            <div class="item">
                                <div class="profile-circle"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" alt=""></div>
                                <blockquote>
                                    <p>Lorem sf sdfsd fipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
			</div>
		</div>
	</section>