<section class="page-title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-headd-title">
						<h2> About Us </h2>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
							<li class="breadcrumb-item active"> About </li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="feature-section bg-gray"> 
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="about-content text-center">
						<div class="feature-title">
							<h2> About Our Firm </h2>
						</div>
						<div class="about-para">
							<p> The concentration of seed production for some  crops in specific areas of the india and of other countries is persuasive testimony of the influence of environmental factors  on  seed  development and quality. The environmental factors that have contributed  to the selection and establishment of these specialized seed production areas can be sketched in rather broadly in brief reviews of some of the  areas.  </p
							<p> The advantages of  producing  seed in areas especially  adapted to seed production are:  seed yield set and recovered in harvesting  is high  and  relatively stable, seeds are consistently high; and Yet, not all kinds of seed  are produced in areas with highly  favorable environments. </p>
							<p>Jprbrajputagroseeds private limilted is an believe to the client. who are using our products.Our team of Seed Specialists and support team include each have a robust and comprehensive knowledge of our seed products . we are committed to helping you make the best selection for your farming needs.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="feature-section about-history"> 
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="about-his">
						<h2> Our Mission </h2>
						<p> Our mission is simple, to be not only your Seed Supplier but your Seed Partner. We are continuously endeavoring to acheive our goals : To Breed , develop and provide varities that are market specific and can be grown in different a conditions, seasons and which can meet farmers exceptaction, in terms of quality , performance and profitability. </p>
					</div>	
				</div>
				<div class="col-sm-4">
					<div class="about-his">
						<h2> Our Vision </h2>
						<p> In future we want that we can fulfill the demands and requirements of our customers. So with the support of you we can reach at the top level and can get better abd best production.  </p>
					</div>	
				</div>
				<div class="col-sm-4">
					<div class="about-his">
						<h2>  What We Do  </h2>
						<p> Our main aim is to provide farmers with excellent seeds at reasonable prices and are committed in being  "Lucky" , as our brand denotes ,to all our customers,globally. In short,the company is committed to its motto. </p>
					</div>	
				</div>
			</div>
		</div>
	</section>
	
	<!-- testimonial -->
	<section class="bg-gray padding-testimonial">
		<div class="container">
			<div class="row">
				<div class="feature-title text-center">
					<h2> Testimonial </h2>
				</div>
				<div class="col-sm-12">
					<div class="tcb-quote-carousel">
                    <div class="quote">
						<i class=" fa fa-quote-left fa-4x"></i>
					</div>
                    <div class="carousel slide carousel-fade" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="profile-circle"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" alt=""></div>
                                <blockquote>
                                    <p>We have great pleasure to present you,our first illustrated commerial website of seeds. This website contains comprehensive information about all our products. </p>
                                </blockquote>
                            </div>
                            <div class="item">
                                <div class="profile-circle"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" alt=""></div>
                                <blockquote>
                                    <p>Offered collections of these products are made by employing qualitative ingredients and progressive technology. These products are highly admired by the clients for their accurate composition, long shelf life, nontoxic and high purity features.We have large number of high yielding and  open pollinated and very well adopted F1 hybrids of crops.</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
			</div>
		</div>
	</section>