<section class="section sec-for-team">
            <div class="container">
                <header class="section__title">
                    <h2>Riseagroinfra Pvt Ltd Team</h2>
                    <small>Individual commitment to a group effort - that is what makes a team work, a company work, a society work, a civilization work. </small>
                </header>

                <div class="row team">

                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/puspa_dhakar-2f85ab015151bd614878f2e8275c82008418da47b5b1716a5d1dd03befe26314.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Puspa Devi Dhakar</h4>
                                <small>Director</small>

                                <p><b>RISE AGRO INFRA PVT LTD</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/kanchan_dhakar-a8ac09a56c6ee1bfa6377100a06ab4e300d3831684b53c545206c39dc8e879ea.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Kanchan Dhakar</h4>
                                <small>Director</small>

                                <p><b>RISE AGRO INFRA PVT LTD</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/om_dhakar-fcb10fa609e7d905ddec9c7d87f9c190b85f8c9decdb25a82dd6e59417cd5a93.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Om Dhakar</h4>
                                <small>Executive Director</small>

                                <p><b>RISE AGRO INFRA PVT LTD</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>