body {
    color: #555;
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    word-wrap: break-word;
	position: relative;
	padding-top: 120px;
}
a{
    color: #555;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto
}
h1,h2,h3,h4,h5,h6 {
    color: #222;
	font-family: 'Roboto', sans-serif;
    font-weight: 500
}
header{
	position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}
@media only screen and (max-width: 991px) {
    body {
        padding-top: 75px;
    }
}
@media only screen and (max-width: 767px) {
	#v-slider .carousel-inner > .item {
		height: 220px !important;
		width: 100% !important;
		overflow: hidden !important;
	}
	.feature-section {
		padding: 7px 0 20px !important;
	}	
}

/** Top - Bar **/
.top-bar {
    height: 40px;
	background-color: #94b200;
    width: 100%;
}
.top-container {
    max-width: 1200px;
    width: 100%;
    padding: 8px 15px;
    margin-left: auto;
    margin-right: auto;
}
.top-bar .top-container .social-top ul{
	padding: 0;
	margin: 0;
}
.top-bar .top-container .social-top ul li{
	list-style-type: none;
	display: inline;
}
.top-bar .top-container .social-top ul li i{
    padding: 4px 8px;
    font-size: 15px;
    color: #ececec;
}
/*.top-bar .top-container .social-top ul li i:hover , .top-bar .top-container .login ul li a:hover{
    color: #f4b843 !important;
}*/
.top-bar .top-container .login ul{
	padding: 0;
	margin: 0;
}
.top-bar .top-container .login ul li{
	list-style-type: none;
	display: inline;
	border-right: 1px solid #fff;
}
.top-bar .top-container .login ul li a{
    padding: 10px 15px 14px;
    font-size: 14.5px;
    color: #ffffff !important;
    letter-spacing: .5px;
}
.top-bar .top-container .login ul li a i{
    margin: 0 3px;
    font-size: 17px;
    vertical-align: text-bottom;
}
/** Navigation **/
.navbar {
    margin-bottom: 0px !important;
}
.navbar {
    min-height: 75px !important;
}
@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 29px;
    padding-bottom: 30px;
}
}
.navbar-default .navbar-nav>li>a {
    color: #252525;
    font-weight: 500;
    font-size: 15px;
	letter-spacing: .3px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #252525;
    background-color: #f8f8f8;
}
.navbar-brand {
    padding: 7px 11px;
}
.navbar-nav .test{
    padding: 15px;
    text-align: center;
}
.navbar-nav .test i{
    font-size: 24px;
    color: #00aff0;
}
.navbar-nav .test a{
	padding: 0;
    color: #00aff0;
}
.dropdown-menu>li>a {
    padding: 8px 30px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #f8f8f8 !important;
    border: 0 !important;
}
.navbar-toggle .icon-bar {
    width: 28px !important;
    height: 4px !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #171717 !important;
}
.navbar-default .navbar-toggle {
    border-color: #f8f8f8 !important;
}
.navbar-toggle {
    margin-top: 13px !important;
}
/** Footer **/
footer{
	background: #272525;
    color: #fff;
	padding: 18px 30px 30px;
}
footer h2{
    color: #ffffff;
    font-size: 23px;
    margin-bottom: 30px;
    letter-spacing: 0.6px;
}
.footer-widget ul{
    padding: 0;
    margin: 25px 0px 0;
}
.footer-widget ul li{
    list-style-type: none;
	margin-bottom: 15px;
}
.footer-widget ul li span{
    color: #e2e2e2;
}
.footer-widget ul li span i{
    margin: 0 7px 0 0;
    font-size: 16px;
    padding: 5px 7px 5px;
    color: #fff;
    border: 1px solid #a9a9a9;
}
.footer-widget img{
	height: 55px;
    width: auto;
    margin-bottom: 20px;
}
.footer-widget-form .footer-add ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-widget-form .footer-add ul li a{
    padding: 0 0 8px;
    font-size: 14px;
    letter-spacing: .4px;
    color: #e2e2e2 !important;
    display: inline-flex;
}
.footer-widget-form .footer-add ul li i{
    margin: 2px 14px 0 0;
    font-size: 17px;
    color: #fff;
    display: block;
}
.footer-widget1 ul{
    padding: 0 5px;
}
.footer-widget1 ul li{
	list-style-type: none;
    padding: 5px;
}
.footer-widget1 ul li:hover{
	padding: 5px 11px;
	transition: all .3s ease-in;
}
.footer-widget1 ul li a:hover{
	color: #94b200;
}
.footer-widget1 ul li a{
	color: #e2e2e2;
}
.footer-widget1 ul li i{
    margin: 0 5px;
}
.footer-widget p{
    color: #e2e2e2;
}
.footer-copyright-area{
    background: #000;
}
.footer-copyright-area h3{
    margin: 11px 0;
    font-size: 15px;
    padding: 5px;
    color: #e2e2e2;
    letter-spacing: .3px;
}
.footer-copyright-area h3 a{
	color: #fff;
    margin: 0 5px;
}

/*Slider*/
.carousel-control.right{
    right: 0;
    left: auto;
    background-image: none;
}
.carousel-control.left {
	background-image: none;
    background-repeat: repeat-x;
}
#v-slider{
	position: relative;
}
#v-slider:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.18);
    top: 0;
    z-index: 100;
}
#v-slider .carousel-inner > .item {
	height: 440px;
    width: 100%;
    overflow: hidden;
}
#v-slider .carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-gray{
	background: #f1f1f1;
}
.bg-white{
	background: white;
}
.feature-section{
	padding: 50px 0;
}
.feature-title h2{
	color: #313131;
    letter-spacing: .8px;
    font-weight: 600;
    font-size: 33px;
}
/* Welcome Section */
.welcome-section .welcome-text{
	padding: 16px 0;
}
.welcome-section .welcome-text .first-para{
    font-size: 17px;
    letter-spacing: 0.6px;
    line-height: 25px;
    color: #3c3c3c;
}
.welcome-section .welcome-text p{
	font-size: 15.4px;
    letter-spacing: .2px;	
    color: #828282;
}
.welcome-form form{
    padding-top: 28px;
}
.product-bg{
	background: url(http://wp1.themexlab.com/2017/warsaw/images/background/pattern-one.png) center center repeat;
    background-color: rgba(130, 156, 0, 0.99);
    outline: 2px dashed #fff;
    outline-offset: -14px;
	position: relative;
}
.welcome-form .feature-title{
	background: #94b200;
    padding: 22px;
    text-align: center;
}
.welcome-form .feature-title h2{
    margin: 0;
    color: #fff;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 500;
}
.frm-cntrl{
    margin-bottom: 20px;
	position: relative;
}
.frm-cntrl i , .frm-cntrl-textarea i{
    position: absolute;
    z-index: 100;
    top: 15px;
    left: 13px;
    font-size: 15.5px;
    color: #737070;
}
.frm-cntrl .form-control {
    background: rgba(255, 255, 255, 0.89);
    height: 47px;
    border-color: rgba(52, 52, 52, 0.16);
    background-color: transparent;
    border-radius: 0;
    color: #232323;
    padding-left: 36px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    box-shadow: 0px 0px 0px;
    font-weight: 200;
    letter-spacing: .3px;
}
.frm-cntrl-textarea{
    margin-bottom: 20px;
	position: relative;
}
.frm-cntrl-textarea .form-control{
    height: auto;
    background: rgba(255, 255, 255, 0.89);
    border-color: rgba(52, 52, 52, 0.16);
    background-color: transparent;
    border-radius: 0;
    color: #232323;
    padding-left: 35px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    box-shadow: 0px 0px 0px;
    margin-top: 6px;
	font-weight: 200;
}
.margin-top20{
	margin-top: 20px;
}
.mybtn{
    background: #94b200;
    color: #fff;
    border-radius: 0;
    padding: 11px 15px;
    font-size: 16px;
    letter-spacing: .4px;
}
.mybtn:hover {
    transform: translateY(1px);
    color: #000;
    transition: all .3s ease;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)!important;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea, select::placeholder{
	color: #000;
}
.btn.send_btn{
    font-size: 15px;
    font-weight: 700;
    color: #303030;
    border: 0px;
    box-shadow: 0px 0px 0px;
    float: right;
    border-left: 1px solid #c5c5c5;
    text-transform: uppercase;
    background: none;
    height: 20px;
    text-align: center;
    width: 70px;
    padding: 0px;
    border-radius: 0px;
    margin: -50px 5px 0px 0px;
}
.margin-btm10{
	margin-bottom: 10px;
}
.margin-btm20{
	margin-bottom: 20px;
}
.margin-btm40{
    margin-bottom: 40px;
}
.product-padd{
    padding: 22px 0 40px;
}
.padding-testimonial{
	padding: 20px 0 !important; 
}
.product-section .product-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
	box-shadow: 8px 8px 24px -8px rgba(0, 0, 0, 0.3);
}
.product-section .product-inner .single-item{
    position: relative;
    padding: 15px;
    border: 2px solid #f7f7f7;
}
.product-section .product-inner .single-item .image-box{
    height: 185px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.product-section .product-inner .single-item .image-box img{
    height: 100%;
    width: 100%;
}
.product-section .product-inner .single-item .content{
    position: relative;
    background: #f1f1f1;
    padding: 15px;
    border-bottom: 2px solid #f0f1f1;
}
.product-section .product-inner .single-item .content h2{
    font-size: 17px;
    color: #525252;
    font-weight: 700;
    text-align: center;
    margin: 5px 0 17px;
    letter-spacing: .3px;
}
.product-section .product-inner .single-item .content .price{
	font-size: 16px;
    color: #525252;
    font-weight: 700;
    text-align: center;
    letter-spacing: .3px;
    display: block;
}
.product-section .product-inner .single-item:hover .overlay-box{
    transition: .5s ease;
    opacity: 1;
    visibility: visible;
    transition: .2s;
}
.product-section .product-inner .single-item .overlay-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}
.product-section .product-inner .single-item .overlay-box .inner{
	position: relative;
    height: 100%;
}
.product-section .product-inner .single-item:hover .overlay-box .top-content{
    top: 0px;
    transition: .4s ease;
}
.product-section .product-inner .single-item:hover .overlay-box .bottom-content{
    bottom: 0;
    transition: .5s ease;
}
.product-section .product-inner .single-item .overlay-box .bottom-content{
    position: absolute;
    bottom: -60px;
    right: 0;
    left: 0;
    margin: 15px;
    padding: 10px 20px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
	background: #7fb401;
	color: #fff;
}
.product-section .product-inner .single-item .overlay-box .top-content{
	position: absolute;
    top: -50px;
    width: 100%;
    transition: .4s ease;
}
.product-section .product-inner .single-item .overlay-box .top-content ul{
    position: relative;
    text-align: center;
    margin-top: 80px;
}
.product-section .product-inner .single-item .overlay-box .top-content ul li{
    position: relative;
    display: inline-block;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
    margin: 0 7px;
    transition: .5s ease;
    border-color: #7fb401;
    line-height: 50px;
}
.product-section .product-inner .single-item .overlay-box .top-content ul li i{
    font-size: 20px;
}

/* Testimonial Slider */
.tcb-quote-carousel {
	padding-top: 30px;
}
.tcb-quote-carousel .quote {
	color: rgba(82, 82, 82, 0.27);
    text-align: center;
    margin-bottom: 30px;
}
.tcb-quote-carousel .carousel {
	padding-bottom: 60px;
}
.tcb-quote-carousel .carousel .carousel-indicators > li {
	background-color: #e84a64;
	border: none;
}
.tcb-quote-carousel blockquote {
    margin-top: 15px;
    text-align: center;
    border: none;
    line-height: 26px;
    letter-spacing: .4px;
}
.tcb-quote-carousel .profile-circle {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 100px;
}
.carousel-fade .carousel-inner .item {
	transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	transform: translate3d(0, 0, 0);
}

/* Social Icons */
.footer-social-top ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-social-top ul li{
    float: left;
    padding: 11px;
}
.footer-social-top ul li a{
    color: #e2e2e2 !important;
}
.footer-social-top ul li a i{
    font-size: 17px;
}
.footer-social-top ul li a i{
    font-size: 17px;
}




