<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-4">
						<div class="footer-widget">
							<!--<img src="img/logo.png">-->
							<h1 style="color: #fff;margin-bottom: 35px;"> <img src="/assets/2-6b637b992023637a24481edee82277b72cb1e8fbf3d702d85744b12578222904.png" alt="Logo" class="img-responsive"> </h1>
							<p> Lorem ipsum dolor sit amet, te est illum aliquam complectitur, quo te soluta utroque lucilius, eos tritani tacimates id. No usu nostrud quaeque lobortis. Utinam primis id nam. </p>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="footer-widget1">
							<h2> Quick Links </h2>
							<ul> 
								<li>
									<a href="<%= root_path %>">
										<i class="fa fa-angle-right"></i>
										Home
									</a>
								</li>
								<li>
									<a href="<%= about_path %>">
										<i class="fa fa-angle-right"></i>
										About Us
									</a>
								</li>
								<li>
									<a href="<%= products_path  %>">
										<i class="fa fa-angle-right"></i>
										Products
									</a>
								</li>
								<li>
									<a href="<%= contact_path %>">
										<i class="fa fa-angle-right"></i>
										Contact Us
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="footer-widget2">
							<h2> Follow Us </h2>
								<div class="footer-social-top">
									<ul>
										<li>
											<a href="#">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-pinterest"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-google-plus"></i>
											</a>
										</li>
									</ul>
								</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="footer-widget-form">
							<h2> Get In Touch </h2>
							<div class="footer-add">
								<ul>
									<li>
										<a href="#">
											<i class="fa fa-phone"></i>
											+91 - 9977685191
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-envelope"></i>
											jprbrajputagro@gmail.com
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-home"></i>
											KH - 197/1/2 - Navada, Rau
											Teh - Mahu, Dist - Indore 453331
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-home"></i>
											144 - 145 First Floor Mangal City Vijay nagar, 452010
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!--  Container -->
	</footer>
